<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PIStreamConnector_Speedtest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>    
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <PIStreamConnector_Speedtest.Properties.Settings>
            <setting name="PIDataPipe_blockSize" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="DisableProcessing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PIServerName" serializeAs="String">
                <value>PI2016light</value>
            </setting>
            <setting name="PIPoints_filename" serializeAs="String">
                <value>ListPiTags_Stream1K.txt</value>
            </setting>
            <setting name="PIPoints_filepath" serializeAs="String">
                <value>C:\Users\rpalmen\OneDrive\Desktop\PI streaming 2016\TestIO</value>
            </setting>
            <setting name="PIDataPipe_maxAsyncBlockSize" serializeAs="String">
                <value>1000000</value>
            </setting>
        </PIStreamConnector_Speedtest.Properties.Settings>
    </applicationSettings>

      <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            internalLogLevel="Error"
            internalLogToConsole="true"
            internalLogFile="C:\DATA\PIStreamConnector_Speedtest\Stats\NLog_errors.txt">
        <targets>
          <target name="asyncdatafile" xsi:type="AsyncWrapper"
                  overflowAction="Block"
                  queuelimit="1000000"
                  batchsize="10000">
            <target name="datafile" xsi:type="File"
                    fileName="C:\DATA\PIStreamConnector_Speedtest\Data\PIdata.txt"
                    layout="${message}"
                    keepFileOpen="True"
                    autoFlush="False"
                    archiveEvery="Minute"
                    archiveNumbering="Date"
                    archiveDateFormat="yyyyMMddHHmm"
                    archiveOldFileOnStartup="True"
                    maxArchiveFiles="10" />
          </target>
          <target name="asyncnull" xsi:type="AsyncWrapper"
                  overflowAction="Block"
                  queuelimit="1000000"
                  batchsize="10000">
            <target name="null" xsi:type="Null"
                    formatMessage="True"
                    layout="${message}" />
          </target>
          <target name="statsfile" xsi:type="File"
                  fileName="C:\DATA\PIStreamConnector_Speedtest\Stats\Stats.txt"
                  layout="${longdate} - ${message} ${exception:format=tostring}"
                  archiveEvery="Hour"
                  archiveNumbering="Date"
                  archiveDateFormat="yyyyMMddHHmm"
                  archiveOldFileOnStartup="True"
                  maxArchiveFiles="10" />        
          <target name="console" xsi:type="Console"
                  layout="${longdate} - ${message} ${exception:format=tostring}" />                  
        </targets>
        <rules>
          <logger name="stats" minlevel="Info" writeTo="console,statsfile"/>
          <logger name="data" levels="Info" writeTo="asyncdatafile"/>
          <logger name="null" levels="Info" writeTo="asyncnull"/>
        </rules>
      </nlog>

</configuration>