<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PIStreamConnector_Speedtest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        </sectionGroup>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>    
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <PIStreamConnector_Speedtest.Properties.Settings>
            <setting name="PIPoints_filename" serializeAs="String">
                <value>ListPiTags_Stream1K.txt</value>
            </setting>
            <setting name="PIDataPipe_MaxEventCountPerServer" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="PIPoints_filepath" serializeAs="String">
                <value>C:\Users\rpalmen\OneDrive\Desktop\PI streaming 2016</value>
            </setting>
            <setting name="DisableProcessing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PIServerName" serializeAs="String">
                <value>PI2016light</value>
            </setting>
        </PIStreamConnector_Speedtest.Properties.Settings>
    
      <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{ISO8601} - %message%newline"/>
          </layout>
        </appender>
        <appender name="Stats_RollingFileAppender" type="log4net.Appender.RollingFileAppender">
          <file value="C:\Users\rpalmen\OneDrive\Desktop\PI streaming 2016\TestIO\Stats.txt"/>
          <param name="PreserveLogFileNameExtension" value="true" />    
          <appendToFile value="False"/>
          <rollingStyle value="Size" />
          <maxSizeRollBackups value="1000"/>
          <maximumFileSize value="5MB"/>
            <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{ISO8601} - %message%newline"/>
          </layout>
        </appender>
        <appender name="BufferingForwarder" type="log4net.Appender.BufferingForwardingAppender">
          <bufferSize value="1000" />
          <lossy value="false" />
          <Fix value="268" />
          <appender-ref ref="Out_RollingFileAppender" />
        </appender>        
              <appender name="Out_RollingFileAppender" type="log4net.Appender.RollingFileAppender">
          <file value="C:\Users\rpalmen\OneDrive\Desktop\PI streaming 2016\TestIO\Data_.txt"/>
          <param name="PreserveLogFileNameExtension" value="true" />    
          <appendToFile value="False"/>
          <rollingStyle value="Composite" />
          <datePattern value="yyyyMMdd_HHmm"/>
          <maxSizeRollBackups value="1000"/>
          <maximumFileSize value="10MB"/>
            <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%message%newline"/>
          </layout>
        </appender>
        <root>
          <level value="ALL" />
        </root>
        <logger name="StatsLogger" additivity="false">
          <level value="ALL"/>
          <appender-ref ref="ConsoleAppender"/>
          <appender-ref ref="Stats_RollingFileAppender" />
        </logger>
        <logger name="OutLogger" additivity="false">
          <level value="ALL"/>
          <appender-ref ref="BufferingForwarder" />
        </logger>
      </log4net>
    </applicationSettings>

      <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            internalLogLevel="Warn"
            internalLogToConsole="true">
        <targets>
          <!--<default-wrapper xsi:type="BufferingWrapper" bufferSize="1000"/> -->
          <target name="asyncdatafile" xsi:type="AsyncWrapper"
                  overflowAction="Block"
                  queuelimit="1000000"
                  batchsize="10000">
            <target name="datafile" xsi:type="File"
                    fileName="${basedir}\nlog_data.txt"
                    layout="${message}"
                    keepFileOpen="True"
                    autoFlush="False"
                    archiveEvery="Minute"
                    archiveNumbering="Date"
                    archiveDateFormat="yyyyMMddHHmm"
                    maxArchiveFiles="10" />
          </target>
          <target name="asyncnull" xsi:type="AsyncWrapper"
                  overflowAction="Block"
                  queuelimit="1000000"
                  batchsize="10000">
            <target name="null" xsi:type="Null"
                    formatMessage="True"
                    layout="${message}" />
          </target>          
          <target name="statsfile" xsi:type="File"
                  fileName="${basedir}\Stats.txt"
                  layout="${longdate} - ${message}"
                  archiveEvery="Hour"
                  archiveNumbering="Date"
                  archiveDateFormat="yyyyMMddHHmm"
                  archiveOldFileOnStartup="True"
                  maxArchiveFiles="10" />        
          <target name="console" xsi:type="Console"
                  layout="${longdate} - ${message}" />                  
        </targets>
        <rules>
          <logger name="stats" minlevel="Trace" writeTo="console,statsfile"/>
          <logger name="data" levels="Info" writeTo="asyncdatafile"/>
        </rules>
      </nlog>

</configuration>