<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PIStreamConnector_Speedtest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <PIStreamConnector_Speedtest.Properties.Settings>
            <setting name="PIPoints_filename" serializeAs="String">
                <value>ListPiTags_Stream1K.txt</value>
            </setting>
            <setting name="PIPoints_filepath" serializeAs="String">
                <value>C:\Users\rpalmen\OneDrive\Desktop\PI streaming 2016\TestIO</value>
            </setting>
            <setting name="PIDataPipe_MaxEventCountPerServer" serializeAs="String">
                <value>10000</value>
            </setting>
        </PIStreamConnector_Speedtest.Properties.Settings>
    
      <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{ISO8601} - %message%newline"/>
          </layout>
        </appender>
        <appender name="Stats_RollingFileAppender" type="log4net.Appender.RollingFileAppender">
          <file value="C:\Users\rpalmen\OneDrive\Desktop\PI streaming 2016\TestIO\Stats.txt"/>
          <param name="PreserveLogFileNameExtension" value="true" />    
          <appendToFile value="False"/>
          <rollingStyle value="Size" />
          <maxSizeRollBackups value="1000"/>
          <maximumFileSize value="5MB"/>
            <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{ISO8601} - %message%newline"/>
          </layout>
        </appender>
        <appender name="Out_RollingFileAppender" type="log4net.Appender.RollingFileAppender">
          <file value="C:\Users\rpalmen\OneDrive\Desktop\PI streaming 2016\TestIO\Data_.txt"/>
          <param name="PreserveLogFileNameExtension" value="true" />    
          <appendToFile value="False"/>
          <rollingStyle value="Composite" />
          <datePattern value="yyyyMMdd_HHmm"/>
          <maxSizeRollBackups value="1000"/>
          <maximumFileSize value="10MB"/>
            <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%message%newline"/>
          </layout>
        </appender>
        <root>
          <level value="ALL" />
          <appender-ref ref="ConsoleAppender" />
          <appender-ref ref="Stats_RollingFileAppender" />
          <appender-ref ref="Out_RollingFileAppender" />
        </root>
        <logger name="StatsLogger" additivity="false">
          <level value="ALL"/>
          <appender-ref ref="ConsoleAppender"/>
          <appender-ref ref="Stats_RollingFileAppender" />
        </logger>
        <logger name="OutLogger" additivity="false">
          <level value="ALL"/>
          <appender-ref ref="Out_RollingFileAppender" />
        </logger>
      </log4net>
    
    </applicationSettings>
</configuration>